<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267198258625-s22013ddk627n4k4nms8m1vdcoguhejb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267198258625-s22013ddk627n4k4nms8m1vdcoguhejb</string>
	<key>API_KEY</key>
	<string>AIzaSyDsZ_Y6iyDrf_uavkxnbpPrzy8QYzdp_so</string>
	<key>GCM_SENDER_ID</key>
	<string>267198258625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techacademy.makoto.esaki.FoodManager</string>
	<key>PROJECT_ID</key>
	<string>foodmanager-291e0</string>
	<key>STORAGE_BUCKET</key>
	<string>foodmanager-291e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267198258625:ios:a82afe01f48b5bfe9aa340</string>
</dict>
</plist>